body {
	background: url(./images/bg-body.jpg) repeat center top;
	color: #d5b084;
	font-family: 'open_sansregular';
	font-size: 12px;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
@font-face {
	font-family: 'UltraRegular';
	src: url('./fonts/ultra-webfont.eot');
	src: url('./fonts/ultra-webfont.eot?#iefix') format('embedded-opentype'),
	url('./fonts/ultra-webfont.woff') format('woff'),
	url('./fonts/ultra-webfont.ttf') format('truetype'),
	url('./fonts/ultra-webfont.svg#UltraRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('./fonts/opensans-regular-webfont.eot');
	src: url('./fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('./fonts/opensans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
a {
	outline: none;
}
img {
	border: 0;
}
p {
	letter-spacing: 0.025em;
	line-height: 20px;
}
p a {
	color: #d5af87;
}
p a:hover {
	color: #bfcb75;
}
#page {
	background: url(./images/bg-page.png) repeat;
	margin: 30px auto 0;
	padding: 10px;
	width: 940px;
}
#page div {
	background: #f5f1e6 url(./images/bg-logo.jpg) no-repeat left top;
	padding: 0;
	width: 940px;
}
#page div div#header {
	background: none;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#page div div#header img {
	float: left;
	margin: 30px 0 0 32px;
}
#page div div#header ul {
	float: right;
	list-style: none;
	margin: 77px 0 0;
	overflow: hidden;
	padding: 0;
	width: 550px;
}
#page div div#header ul li {
	float: left;
	padding: 0 20px;
}
#page div div#header ul li a {
	color: #db9e29;
	display: block;
	font-family: 'UltraRegular';
	font-size: 16px;
	text-decoration: none;
}
#page div div#header ul li.current a,
#page div div#header ul li a:hover {
	border-bottom: 5px solid #a2b83c;
}
#page div div#body {
	background: url(./images/separator-long.png) no-repeat bottom center;
	padding: 0 0 10px;
}
#page div div#body div#figure {
	font-family: 'UltraRegular';
	padding: 0;
	position: relative;
}
#page div div#body div#figure span {
	color: #dade7d;
	display: block;
	font-size: 35px;
	left: 50px;
	position: absolute;
	top: 85px;
	text-shadow: 1px 5px #605012;
}
#page div div#body div#figure span#home {
	color: #f9b94b;
	font-size: 45px;
	line-height: 45px;
	top: 118px;
	text-shadow: 1px 5px #824622;
	width: 590px;
}
#page div div#body div#figure span#home a {
	background: url(./images/bg-find-out.png) repeat;
	color: #f6f1e7;
	display: inline-block;
	font-size: 14px;
	height: 30px;
	letter-spacing: -0.025em;
	line-height: 30px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	vertical-align: middle;
}
#page div div#body div#figure span#home a:hover {
	background: url(./images/bg-find-out-hover.png) repeat;
}
#page div div#body div {
	background: none;
	overflow: hidden;
	padding: 0 0 30px;
	width: auto;
}
#page div div#body div div {
	background: none;
	float: left;
	width: 660px;
}
#page div div#body div div#blog {
	width: 685px;
}
#page div div#body div div p {
	font-family: 'open_sansregular';
	font-size: 13px;
	margin: 0 0 20px;
}
#page div div#body div div h3 {
	color: #858f48;
	font-family: 'UltraRegular';
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0.025em;
	line-height: 20px;
	margin: 20px 0;
}
#page div div#body div div dl {
	float: left;
	margin: 30px 0 10px;
	width: 330px;
}
#page div div#body div div dl dt {
	color: #a2b83d;
	font-family: 'UltraRegular';
	font-size: 16px;
	letter-spacing: -0.025em;
	line-height: 20px;
}
#page div div#body div div dl dd {
	font-family: 'open_sansregular';
	font-size: 13px;
	letter-spacing: 0.025em;
	line-height: 20px;
	margin: 0;
}
#page div div#body div div ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#page div div#body div div ul li {
	float: left;
	height: 320px;
	width: 220px;
}
#page div div#body div div ul li div {
	background: url(./images/bg-item-title.png) no-repeat center top;
	height: 57px;
	float: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 142px;
}
#page div div#body div div ul li div a {
	color: #bfcb75;
	display: block;
	font-family: 'UltraRegular';
	font-size: 14px;
	letter-spacing: -0.025em;
	line-height: 16px;
	padding: 14px 0 0;
	text-decoration: none;
}
#page div div#body div#featured {
	background: none;
	overflow: hidden;
	padding: 0;
}

#page div div#body div#featured div a img {
	width: 220px;
	height: 208px;
}

#page div div#body div a.about,
#page div div#body div a.locations,
#page div div#body div a.whatshot,
#page div div#body div a.blog {
	display: block;
	float: left;
	text-indent: -999999px;
}
#page div div#body div a.about,
#page div div#body div a.locations,
#page div div#body div a.whatshot,
#page div div#body div a.blog {
	height: 162px;
	margin: 0 10px 0 0;
	width: 231px;
}
#page div div#body div#featured span.whatshot {
	background: url(./images/whats-hot.jpg) no-repeat left top;
	display: block;
	float: left;
	height: 189px;
	margin: 0;
	position: relative;
	width: 237px;
}
#page div div#body div#featured span.whatshot a {
	background: url(./images/bg-find-out2.png) repeat;
	color: #f6f1e7;
	display: inline-block;
	height: 30px;
	font-family: 'UltraRegular';
	font-size: 14px;
	letter-spacing: -0.025em;
	line-height: 30px;
	margin: 127px 0 0 33px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
}
#page div div#body div#featured span.whatshot a:hover {
	background: url(./images/bg-find-out2-hover.png) repeat;
}
#page div div#body div a.about {
	background: url(./images/about.jpg) no-repeat left top;
}
#page div div#body div a.locations {
	background: url(./images/locations.jpg) no-repeat left top;
}
#page div div#body div a.whatshot {
	background: url(./images/whats-hot2.jpg) no-repeat left top;
}
#page div div#body div a.blog {
	background: url(./images/blog.jpg) no-repeat left top;
}
#page div div#body div div#blog ul:first-child {
	background: none;
	float: left;
	margin: 0;
	padding: 0;
	width: 460px;
}
#page div div#body div div#blog ul:first-child li {
	background: url(./images/separator-blog-entry.png) no-repeat center top;
	float: none;
	height: auto;
	padding: 40px 0 15px;
	width: auto;
}

#page div div#body div div#blog ul:first-child li img {
	width: 460px;
	height: auto;
}

#page div div#body div div#blog ul:first-child li:first-child {
	background: none;
	padding: 20px 0 15px;
}
#page div div#body div div#blog ul:first-child li div {
	background: none;
	height: auto;
	margin: 0 0 10px;
	overflow: hidden;
	text-align: left;
	width: auto;
}
#page div div#body div div#blog ul:first-child li div div {
	background: none;
	display: block;
	float: left;
	height: 50px;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	width: 45px;
}
#page div div#body div div#blog ul:first-child li div div span.month {
	color: #dc9f29;
	display: block;
	font-family: 'UltraRegular';
	font-size: 8px;
	letter-spacing: 0.025em;
	line-height: 22px;
	padding: 0;
}
#page div div#body div div#blog ul:first-child li div div span.date {
	color: #dc9f29;
	display: block;
	font-family: 'UltraRegular';
	font-size: 28px;
	left: 2px;
	letter-spacing: 0.025em;
	line-height: 22px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 16px;
}
#page div div#body div div#blog ul:first-child li div h1 {
	float: left;
	font-family: 'UltraRegular';
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0.025em;
	line-height: 20px;
	margin: 0 0 0 20px;
	width: 375px;
}
#page div div#body div div#blog ul:first-child li div h1 a {
	color: #858F48;
	display: block;
	font-size: inherit;
	padding: 17px 0 0;
	text-decoration: none;
}
#page div div#body div div#blog ul:first-child li a.readmore {
	color: #bcc680;
	display: inline-block;
	font-family: 'UltraRegular';
	font-size: 10px;
	letter-spacing: 0.025em;
	line-height: 20px;
	margin: 0 0 0 380px;
	text-align: right;
}
#page div div#body div div#blog ul:first-child li a.readmore:hover {
	text-decoration: none;
}
#page div div#body div div#blog ul:first-child li p {
	font-size: 13px;
	letter-spacing: 0.025em;
	line-height: 20px;
}
#page div div#body div div#blog ul {
	background: #f9f6ef;
	float: right;
	margin: 10px 0 0;
	padding: 27px 0 15px;
	width: 210px;
}
#page div div#body div div#blog ul li {
	float: none;
	height: auto;
	padding: 20px 10px 0;
	width: auto;
}
#page div div#body div div#blog ul li:first-child {
	padding: 0 10px;
}
#page div div#body div div#blog ul li h2 {
	font-family: 'UltraRegular';
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.025em;
	line-height: 18px;
	margin: 0;
}
#page div div#body div div#blog ul li h2 a {
	color: #869048;
	text-decoration: none;
}
#page div div#body div div#blog ul li span.date {
	color: #dc9f2a;
	display: block;
	font-family: 'UltraRegular';
	font-size: 10px;
	letter-spacing: 0.025em;
	line-height: 18px;
	padding: 0 0 20px;
}
#page div div#body div div#blog ul li p {
	font-size: 12px;
	letter-spacing: 0.025em;
	line-height: 18px;
	margin: 0;
}
#page div div#body div div#blog ul li a.readmore {
	color: #b0c26d;
	display: inline-block;
	font-family: 'open_sansregular';
	font-size: 10px;
	letter-spacing: 0.01em;
	line-height: 18px;
	margin: 0 0 0 133px;
	padding: 3px 0 6px;
	text-transform: capitalize;

}
#page div div#body div#featured div {
	background: none;
	float: left;
	padding: 0;
	width: 703px;
}
#page div div#body div#featured div a {
	display: inline-block;
	margin: 0 0 0 5px;
}
#page div div#body div.section {
	background: #3c200b url(./images/separator-content.jpg) no-repeat top center;
	overflow: hidden;
	padding: 30px 30px 0;
	width: 880px;	
}
#page div div#body div.section ul {
	float: left;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 20px 0 0;
	width: 640px;
}
#page div div#body div.section ul li {
	float: left;
	margin: 0 0 0 20px;
	width: 200px;
}
#page div div#body div.section ul li h2 {
	font-family: 'UltraRegular';
	font-size: 20px;
	font-weight: normal;
	letter-spacing: -0.025em;
	line-height: 26px;
	margin: 0;
	padding: 10px 0 13px;
}
#page div div#body div.section ul li h2 a {
	color: #899148;
	display: inline-block;
	text-decoration: none;
}
#page div div#body div.section ul li p {
	color: #b98d6c;
	letter-spacing: 0.025em;
	line-height: 16px;
	margin: 0;
	width: 190px;
}
#page div div#body div.section ul li a.readmore {
	background: url(./images/icon-arrow.png) no-repeat left center;
	color: #b0c26d;
	display: inline-block;
	float: right;
	font-size: 10px;
	letter-spacing: 0.01em;
	margin: 10px 0 0 0;
	padding: 0 22px 0 15px;
	text-align: right;
	text-transform: capitalize;
}
#page div div#body div.section ul li a.readmore:hover {
	text-decoration: none;
}
#page div div#body div.section ul li:first-child {
	margin: 0;
}
#page div div#body div.section ul li img {
	border: 3px solid #f7f0e6;
	width: 200px;
	height: 200px;
}
#page div div#body div.section ul li a img,
#page div div#body div div ul li a img {
	display: block;
}

#page div div#body div div ul li a img.menu-image {	
	width: 200px;
    height: 208px;
    margin-left: 10px;
}

#page div div#body div.section div {
	background: url(./images/bg-recent-blog.jpg) no-repeat;
	float: right;
	height: 398px;
	padding: 0;
	width: 220px;
}
#page div div#body div.section div ul {
	float: none;
	margin: 70px 0 0;
	width: auto;
}
#page div div#body div.section div ul li {
	background: url(./images/separator-recent-blog.jpg) no-repeat center top;
	display: block;
	float: none;
	height: auto;
	margin: 0;
	padding: 12px 0 0;
	width: 220px;
}
#page div div#body div.section div ul li:first-child {
	background: url(./images/separator-recent-blog-1st.jpg) no-repeat center top;
}
#page div div#body div.section div ul li h3 {
	font-family: 'UltraRegular';
	font-size: 14px;
	font-weight: normal;
	letter-spacing: -0.025em;
	line-height: 16px;
	margin: 0;
	padding: 0 5px 0 20px;
}
#page div div#body div.section div ul li h3 a {
	color: #9daf4b;
	text-decoration: none;
}
#page div div#body div.section div ul li span {
	color: #cbca75;
	display: block;
	font-family: 'UltraRegular';
	font-size: 10px;
	letter-spacing: -0.025em;
	line-height: 16px;
	padding: 0 5px 5px 20px;
}
#page div div#body div.section div ul li p {
	color: #b98d6c;
	font-size: 12px;
	letter-spacing: 0.025em;
	line-height: 16px;
	padding: 0 5px 0 20px;
}
#page div div#body div.section div ul li a.readmore {
	background: none;
	color: #b0c26d;
	display: inline-block;
	float: none;
	font-family: 'open_sansregular';
	font-size: 10px;
	letter-spacing: 0.01em;
	line-height: 18px;
	margin: 0 0 0 152px;
	padding: 3px 0 6px;
	text-align: left;
	text-transform: capitalize;
}
#page div div#body div div#blog ul li a.readmore:hover {
	text-decoration: none;
}
#page div div#footer {
	background: #f5f1e6;
	height: 120px;
}
#page div div#footer div {
	background: none;
	float: left;
	margin: 20px 0 0 30px;
	width: 190px;
}
#page div div#footer div a {
	display: inline-block;
}
#page div div#footer div p.footnote {
	color: #e2cfae;
	font-family: 'UltraRegular';
	font-size: 10px;
	letter-spacing: -0.025em;
	line-height: 12px;
	margin: 5px 0 0;
}
#page div div#footer div.section {
	background: none;
	margin: 0 0 0 30px;
	position: relative;
	width: 655px;
}
#page div div#footer div.section ul {
	list-style: none;
	margin: 30px 0 0;
	overflow: hidden;
	padding: 0;
}
#page div div#footer div.section ul li {
	border-left: 2px solid #e0ceaa;
	float: left;
	height: 15px;
	line-height: 13px;
	padding: 0 10px;
}
#page div div#footer div.section ul li a {
	color: #e0ceab;
	display: block;
	font-family: 'UltraRegular';
	letter-spacing: -0.025em;
	text-decoration: none;
	text-align: center;
}
#page div div#footer div.section ul li.current a {
	color: #becb73;
	border-bottom: 2px solid #e8e7cb;
}
#page div div#footer div.section ul li:first-child {
	border: 0;
	padding: 0 10px 0 0;
}
#page div div#footer div.section p {
	color: #c6a971;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 13px;
	margin: 20px 0 0;
}
#page div div#footer div.section p a {
	color: #c6a971;
}
#page div div#footer div.section p a:hover {
	color: #91a130;
}
#page div div#footer div.section div#connect {
	background: none;
	float: none;
	height: 18px;
	margin: 0;
	position: absolute;
	right: 0;
	top: 28px;
	width: auto;
}
#page div div#footer div.section div#connect a {
	display: inline-block;
	float: left;
	height: 18px;
	margin: 0 8px;
	text-indent: -99999px;
	width: 18px;
}
#page div div#footer div.section div#connect a#facebook {
	background: url(./images/icons.png) no-repeat 0 0;
}
#page div div#footer div.section div#connect a#facebook:hover {
	background: url(./images/icons.png) no-repeat -18px 0;
}
#page div div#footer div.section div#connect a#twitter {
	background: url(./images/icons.png) no-repeat 0 -28px;
}
#page div div#footer div.section div#connect a#twitter:hover {
	background: url(./images/icons.png) no-repeat -18px -28px;
}
#page div div#footer div.section div#connect a#googleplus {
	background: url(./images/icons.png) no-repeat 0 -56px;
}
#page div div#footer div.section div#connect a#googleplus:hover {
	background: url(./images/icons.png) no-repeat -18px -56px;
}
#page div div#footer div.section div#connect a#rss {
	background: url(./images/icons.png) no-repeat 0 -84px;
}
#page div div#footer div.section div#connect a#rss:hover {
	background: url(./images/icons.png) no-repeat -18px -84px;
}

.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
	cursor: pointer;
  }
  
.pagination a {
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	border: 1px solid #6c7ac9;
	color: #6c7ac9;
  }
  
.pagination__link {
	font-weight: bold;
  }
  
.pagination__link--active a {
	color: #fff;
	background: #6c7ac9;
  }
  
.pagination__link--disabled a {
	color: rgb(198, 197, 202);
	border: 1px solid rgb(198, 197, 202);
  }